@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,body{
    margin: 0;
    width: 100%;
    height: 100%;

}
body{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 5fr 10fr 1fr;
grid-template-areas: 
"header"
"main"
"footer";
}
#header{
grid-area: header;
background-color: black;
background-image: url(../images/impressum2.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas: 
"."
"title";
}
#header h1{
grid-area: title;
color: white;
font-family: "Roboto";
font-size: 50px;
padding-left: 3vh;
}
#main{
grid-area: main;
background-color: white;

}

#main p, #main h2{
    font-family: 'Roboto';
    padding-left: 3vh;
}
#title{
    margin-top: 3%;
}
#footer{
    grid-area: footer;
    background-color:#393E46;
    display: grid;
    grid-template-columns: 1fr 100fr 50fr 14fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . . . "
    ". footer-text . footer-images ."
    ". . . . . "
    ;
}
#footer-images{
grid-area: footer-images;
}
#footer-images img{
    margin-left: 15%;
    cursor: pointer;
}
#footer-text{
grid-area: footer-text;
color: white;
}
#footer-text a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    letter-spacing: 1px;
    margin-right:5%; 
}
